.download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: 1px solid var(--button-border);
  background-color: var(--button-bg);
  padding: 7.5px 7px;
  font-size: 10px;
  font-weight: 500;
  color: var(--button-color);
}
