.container {
  background-color: var(--primary-color);
  padding: 11.5px 15px;
}

.container div {
  padding: 13px 16px;
  border-radius: 10px;
  background-color: var(--search);
}

.container p {
  color: var(--headline-color);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
}
