.container {
  padding: 30px 25px 70px;
  background-color: var(--about-title-bg);
  display: flex;
  flex-direction: column;
  gap: 85px;
}

.container > h3 {
  color: var(--headline-color);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
