:root {
  --primary-color: #9eb77d;
  --white: #ffffff;
  --divider-green: #83a161;
  --divider-grey: #f5f5f5;
  --follow-bg: #455046;
  --follow-text-color: #fefefc;
  --bread-crumb-color: #567750;
  --headline-color: #424f45;
  --author-title-color: #262626;
  --button-bg: #f6f6f6;
  --button-border: #eaeaea;
  --button-color: #545454;
  --ad-border: #e0e0e2;
  --about-title-bg: #eaeee3;
  --recommendation-button-color: #222;
  --artist-title-color: #585858;
  --artist-sub: #252525;
  --search: #f3f3f3;
  --thumbnail-border: #dfdfdf;
  --badge-color: #758169;
  --subscribe-button-border: #a3b690;
  --subscribe-button-color: #9cb583;
  --review-container-bg: #c6dab9;
  --date-color: #6f8a59;
  --review-description: #22271e;
  --info-small-title: #333;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

ul {
  display: block;
  list-style-type: disc;
  padding-inline-start: 30px;
  padding-inline-end: 10px;
}

li {
  font-size: 16px;
  font-weight: 500;
  line-height: 162.023%;
  color: var(--headline-color);
  margin-bottom: 20.49px;
  white-space: pre-line;
}
